// Small devices (landscape phones, 576px and down)
@media (max-width: 576px) { 
    #top-arrow {
        display: none;
    }
 }

// Medium devices (tablets, 768px and down)
@media (max-width: 768px) { 
    .btn-send-messege {
        width: 100%;
        &--btn-about-us {
            height: 48px !important;
        }
 }
 .card-pos {
     padding: 0;
 }
 .carousel-control-prev-icon, 
 .carousel-control-next-icon {
     width: 20px !important;
     height: 20px !important;
 }
 .form-group.forms-det {
     input {
         width: 100% !important;
     }
 }
}

// Large devices (desktops, 992px and down)
@media (max-width: 992px) { 
    .text-padd {
        padding: 0px 0px 20px 15px !important;
    }
    .gray-section-info { 
        &--gray-middle {
            border-left: none !important;
            border-right: none !important;

    }
 }
 #carouselExampleIndicators {
     margin: 7% 0 3% 0;
     .carousel-indicators {
         display: none;
     }
 }
}
// Extra large devices (large desktops, 1200px and down)
@media (max-width: 1200px) { 
    small {
        display: none;
    }
 }

 @media (min-width: 992px) { 
    .btn-send-messege {
        &--btn-about-us {
            width: 70%;
        }
 }
}
