// COLORS

$white-10: rgb(255, 255, 255);
$wheat-10: #f0eee1;
$gray-10: #2f3a3e;
$green-10: #457369;
$green-20: #48967e;
$green-30: #32a773;
$yellow-10: #fce772;
$black-10: #000;

// FONT

$w-100: 100;
$w-bold: 600;
$heavy-bold: 900;
$font-14: 14px; 